<div class="card-container">
  <article class="card card-carousel" data-card-id="{{ id }}">
    <div class="card__image">{{- image -}}</div>
    <div class="card__body">
      <h3 class="card__title">
        <a href="{{ link }}" class="stretched-link card__link">{{- title -}}</a>
      </h3>

      {% if type %}
        <div class="card__type">{{ type }}</div>
      {% endif %}

      <div class="card__footer">
        <div>{{- date -}}</div>
        {% if show_readmore %}
          {% embed 'ssc_base:card-readmore' %}{% endembed %}
        {% endif %}
      </div>
    </div>
  </article>
</div>
