<div class="card-container">
  <article class="card card-featured" data-parent-id="{{ parent_id }}" data-card-theme="{{ theme }}">
    <div class="card__image">{{- image -}}</div>
    <div class="card__body">
      <h3 class="card__title"><a href="{{ link }}" class="stretched-link card__link">{{- title -}}</a></h3>

      <div class="card__summary">
        {% block summary %}{% endblock %}
      </div>

      {% if authors %}
        <div class="card__authors">
          {{- authors -}}
        </div>
      {% endif %}

      <div class="card__footer">
        {% if type or date %}
          <div>
            {% if type %}
              <span class="card__type">{{- type -}}</span>
            {% endif %}

            {% if type and date %}
              {{ '–' }}
            {% endif %}

            {% if date %}
              <date class="card__date">{{- date -}}</date>
            {% endif %}
          </div>
        {% endif %}

        {% if show_readmore %}
          {{ include('ssc_base:card-readmore', { size: 'large' }) }}
        {% endif %}
      </div>
    </div>
  </article>
</div>
